* {
    margin: 0;
}

header {
    width: 100%;
    background-color: #999;
    height: 200px;
}

.company-name {
    color: #fff;
    text-align: center;
}

h1.company-name {
    padding: 60px;
}

body {
    background-color: #eee;
}

img {
    max-width: 150px;
    max-height: 150px;
}

ul {
    list-style: none;
}